<nav>
  <div class="site-title">
    <a href="/"><h1>¿ YA ESTÁS PREPARADO PARA EL TEST ?</h1></a>
    <p>TEST DISPONIBLE</p>
  </div>
  <ul>
    <li><a href="/">BIENVENIDO</a></li>
	<li><a href="/about">MÁS COSAS </a></li>
	<li><a href="/fav-list">RESULTADOS</a></li>
  </ul>
</nav>