<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="test-info" data-spec=<%= spec %>>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script src="/scripts/test.js"></script>
</body>
</html>