<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Reload the page to get random tests!</h2>
  <div class="test-list">
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="/scripts/index.js"></script>
</body>
</html>